@model LeoTuna.Admin.Web.Dtos.RecoverPasswordDto
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewBag.Title = "Recover Password";
}

<div class="login-page" style="min-height: 320px;">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <span class="h1"><b>LeoTuna</b>.Admin</span>
            </div>
            <div class="card-body">
                <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
                <form action="recover-password.html" method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" asp-for="Email">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Request new password</button>
                        </div>
                    </div>
                </form>
                <p class="mt-3 mb-1">
                    <a asp-action="SignIn">Login</a>
                </p>
            </div>
        </div>
    </div>
</div>